/web/bundles/
/web/assetic/
/web/css/
/web/js/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar

.DS_Store
app/config/parameters.ini
app/config/config_dev.ini
app/cache/*
app/log
vendor/

www
commit
app/config/config_dev.yml
app/config/config_prod.yml
app/config/config_test.yml


app/SymfonyRequirements.php
composer.lock

app/SymfonyRequirements.php
